@use 'sproutkit/_source' as *;

button {
    @include button-reset();
}

.buttons {
    display: flex;
    gap: space(1);
}

button {
    // @include debug;
    @include button();
    @include button-icon('error', 'small');
}

.secondary {
    @include button(
        $type: 'secondary',
        $size: 'medium',
        $layout: 'label-center'
    );
}
