---
import MainView from '../../layouts/MainView.astro'

import type { Frontmatter } from '../../components/Nav.astro';

export const frontmatter: Frontmatter = {
  title: 'About',
  description: 'Intro',
} 

---

<MainView title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
</MainView>

<style lang='scss'>

</style>
