---
import MainView from '@src/layouts/MainView.astro'
import ArticleSidebar from '@src/components/ArticleSidebar.astro'
const { frontmatter, headings } = Astro.props
---

<MainView title={frontmatter.title}>
  <article>
    <header>
      <h1>{frontmatter.title}</h1>
    </header>

    <div class='content-wrapper'>
      <section>
        <slot />
      </section>

      <ArticleSidebar headings={headings} />
    </div>
  </article>

  <style lang='scss'>
    article {
      @include font(14, 'regular');
      line-height: line-height('large');
      min-height: 0;
      min-width: 0;
      width: 80%;
      flex-grow: 1;
      padding: clamp(space(2), 5vw, space(20)) clamp(space(2), 10vw, space(30));

      &::before {
        content: '';
        position: fixed;
        height: 200px;
        left: 0;
        right: 0;
        background: linear-gradient(180deg, color('cool-gray-100', 0), color('cool-gray-100'));
        bottom: 0;
        z-index: 1;
      }
    }

    header {
      margin-bottom: clamp(space(2), 5vw, space(10));
      padding-bottom: clamp(space(2), 5vw, space(10));
      box-shadow: 0 1px 0 color('cool-gray-500', 0.2);
      width: 100%;
      h1 {
        line-height: line-height('small');
        color: color('cool-gray-800');
        text-align: center;
        // font-family: var(--font-family-secondary);
        font-weight: font-weight('light');
        font-size: clamp(font-size(24), 10vw, font-size(96));
        // text-transform: uppercase;
        letter-spacing: 0.05em;
      }
    }

    .content-wrapper {
      min-height: 0;
      min-width: 0;
      display: flex;
      flex-wrap: wrap-reverse;
      gap: clamp(space(2), 5vw, space(20));
    }

    section {
      flex-grow: 1;
      width: 60%;
      flex-shrink: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      color: color('cool-gray-500');
      @include font(14, 'regular');
      font-family: var(--font-family-secondary);
    }
  </style>

  <style is:global lang='scss'>
    section {
      h1,
      h2,
      h3 {
        color: color('cool-gray-800');
      }

      h1 {
        @include font(48, 'bold');
      }

      h2 {
        @include font(40, 'medium');
      }

      h3 {
        @include font(24, 'bold');
      }

      p {
        margin: space(2) 0;
      }

      * + h2 {
        margin-top: space(2);
      }

      pre {
        width: 100%;
        min-width: 0;
        background: linear-gradient(45deg, color('cool-gray-200', 0), color('cool-gray-200', 0.6));

        // background-color: color('cool-gray-100', 0.5);
        color: color('cool-gray-900');
        position: relative;
        margin: space(2) 0;
        tab-size: 4;
        overflow: hidden;
        display: flex;

        code {
          overflow: auto;
          width: 100%;
          padding: space(3) space(4);
        }

        &::before {
          content: '';
          overflow-anchor: none;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          // border-radius: radius(1);
          background: linear-gradient(90deg, color('cool-gray-200', 0), color('cool-gray-300', 0.2));
          background-position: right center;
          width: space(5);
        }
      }

      pre code,
      p code {
        font-size: 0.85em;
      }
      p + pre {
        margin-top: 0;
      }

      p > code {
        background-color: color('magenta-200', 0.1);
        color: color('violet-600');
        padding: space(0.25) space(0.5);
        border-radius: 4px;
        white-space: nowrap;
      }

      .preview {
        margin-top: space(2);
      }

      nav {
        flex-shrink: 0;
        width: clamp(240px, 20vw, 320px);
        position: sticky;
        top: 0;

        &.main-nav {
          overflow: auto;
          background-color: color('cool-gray-50');
          padding: clamp(space(2), 2vw, space(6));
          flex-grow: 1;
        }
      }
    }
  </style>
</MainView>
