//-------------------------------------------------------------------
// Buttons
// -------------------------------------------------------------------

// Reset
// -------------------------------------------------------------------
@mixin button-reset {
    background: rgba(white, 0);
    border: 0 solid rgba(white, 0);
    margin: 0;
    padding: 0;
    vertical-align: middle;
    line-height: 1;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

// button,
// .button,
// .btn {
//     @include button-reset;
// }
