// @import "library/reset";
@import "library/library";

body {
  background-color: $body-bg;
}

h1 {
    background: gray('white');
    // color: font-color('dark', 'strong');
    // font-size: font-size('xx-large');
    // font-family: $font-family-primary;
    @include font($title, 'large');
    max-width: $s-large;
    padding: d(6);
    box-shadow: shadow(1), glow(10);
    outline: line(color('blue-dark'));

    @include mq($s-large)

    span {
        @include strong;
        // margin-bottom: map-deep-get($title, 'small', 'font-size');
    }
}
//     @include font($title, 'hero');
//
//     span {
//         @include strong;
//     }
// }
