//-------------------------------------------------------------------
// Motion
//-------------------------------------------------------------------

// Timing and Easings
//-------------------------------------------------------------------

// t stands for Timing
$t: 0.3s;
$t-snap: cubic-bezier(0.3, 0.9, 0.4, 0.98);
$t-drift: cubic-bezier(0.05, 0.31, 0.7, 1);
$t-shine: cubic-bezier(0.96, 0.43, 0.55, 0.8);

// Transitions
//-------------------------------------------------------------------

@function transitionSpeed($speed) {
    @if $speed == slow {
        @return $t*1.5 $t-drift;
    }
    @if $speed == fast {
        @return $t $t-snap;
    }
    @else {
        @warn "#{$speed} is not a valid transition speed. See _motion.scss for acceptable values";
    }
}

@mixin transition($speed: 'fast', $properties...) {
    $properties: all !default;
    will-change: auto;
    @if length($properties) < 1 {
        transition: $properties transitionSpeed($speed);
    }
    @if length($properties) > 1 {
        transition: all transitionSpeed($speed);
        transition-property: $properties;
    }
    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }
}

// Animations
//-------------------------------------------------------------------

// Sample animations
//-------------------------------------------------------------------

// @keyframes fadeIn {
//     0% {
//         opacity: 0;
//     }
//
//     100% {
//         opacity: 1;
//     }
// }
//
// @keyframes fadeUpIn {
//     0% {
//         opacity: 0;
//         transform: translate3d(0, d(1), 0) scale(.95);
//     }
//
//     100% {
//         opacity: 1;
//         transform: translate3d(0, 0, 0) scale(1);
//     }
// }
//
// @keyframes fadeDownIn {
//     0% {
//         opacity: 0;
//         transform: translate3d(0, d(-2), 0) scale(.95);
//     }
//
//     100% {
//         opacity: 1;
//         transform: translate3d(0, 0, 0) scale(1);
//     }
// }
//
// @keyframes fadeInfromRight {
//     0%, 30% {
//         opacity: 0;
//         transform: translate3d(d(4), 0, 0);
//     }
//
//     100% {
//         opacity: 1;
//         transform: translate3d(0, 0, 0);
//     }
// }
