// Button Functionss
//-------------------------------------------------------------------

@mixin button(
    $style: 'primary',
    $size: 'medium',
    $alignment: 'center',
    $layout: 'inline'
) {
    @include button-style($style);
    @include button-size($size);
    @include button-alignment($alignment);
    @include button-layout($layout);
}

@mixin button-style($style) {
    @if index($button-styles, $style) {
        @extend %button--#{$style};
    } @else {
        @warn errorMessage($style, 'components/_buttons.scss');
    }
}

@mixin button-size($size) {
    @if index($button-sizes, $size) {
        @extend %button--#{$size};
    } @else {
        @warn errorMessage($size, 'components/_buttons.scss');
    }
}

@mixin button-alignment($alignment) {
    @if index($button-alignments, $alignment) {
        @extend %button--#{$alignment};
    } @else {
        @warn errorMessage($alignment, 'components/_buttons.scss');
    }
}

@mixin button-layout($layout) {
    @if index($button-layouts, $layout) {
        @extend %button--#{$layout};
    } @else {
        @warn errorMessage($layout, 'components/_buttons.scss');
    }
}
