---

export interface Frontmatter {
	title: string;
	description?: string;
}

const overviewPages = await Astro.glob('../pages/overview/*')
const tokenPages = await Astro.glob('../pages/tokens/*')

---
<section>
	<h2>Introduction</h2>
	<ul>
	{overviewPages.map((page) => (
		<li>
			<a href={page.url}>{page.frontmatter.title}</a>
		</li>
		))
	}
	</ul>
</section>
<section>
	<h2>Token Library</h2>
	<ul>
	{tokenPages.map((page) => (
		<li>
			<a href={page.url}>{page.frontmatter.title}</a>
		</li>
		))
	}
	</ul>
</section>

<style>

</style>
