---
export interface Frontmatter {
  title: string
  description?: string
}

const overviewPages = await Astro.glob('../pages/overview/*')
const tokenPages = await Astro.glob('../pages/tokens/*')
---

<section>
  <h4>Introduction</h4>
  <ul>
    {
      overviewPages.map(page => (
        <li>
          <a href={page.url}>{page.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</section>
<section>
  <h4>Token Library</h4>
  <ul>
    {
      tokenPages.map(page => (
        <li>
          <a href={page.url}>{page.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</section>

<style lang='scss'>
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  section {
    margin: 0;
    padding: space(2);
  }
  h4 {
    @include font(12, 'semi-bold');
    color: color('gray-800');
    padding: space(0.5);
    background-color: color('cool-gray-100');
    position: sticky;
    top: 0;
  }

  li {
    padding: space(0.5);
  }

  a {
    @include font(14, 'medium');
    text-decoration: none;
    color: color('gray-600');
    padding: space(0.5) space(1.5);
  }
</style>
