---
---

<a class='skip-to-content-anchor' href='#main-content'>Skip to main content</a>

<style lang='scss'>
  .skip-to-content-anchor {
    position: absolute;
    top: 0;
    left: 0;
    @include transition;
    transform: translate3d(0, -100%, 0);
  }
</style>
