---
export interface Props {
	name: string;
	value: string;
}

const { name, value } = Astro.props;
---

<li class="link-card">
	<p>
		<span>{name}</span>
		<span>{value}</span>
	</p>
</li>
<style>

</style>
