extends _partials/head

block meta
    -title= 'Fissionkit'
    -description= 'Library of SCSS helper functions'

block content
    .header
        h1 Hello
        span strong
    .header.dark
        h1 Hello
        span strong
