//-------------------------------------------------------------------
// Buttons
// -------------------------------------------------------------------

// Reset
// -------------------------------------------------------------------

@mixin button-reset {
    background: rgba(white, 0);
    border: 0 solid rgba(white, 0);
    margin: 0;
    padding: 0;
    vertical-align: middle;
    line-height: 1;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    outline: none;

    span {
        display: block;
    }
}

// Options
// -------------------------------------------------------------------

$button-states: (
    'default',
    'loading',
    'disabled',
    'hover',
    'active',
    'focused'
);

$button-styles: ('primary', 'secondary', 'tertiary', 'link');
$button-sizes: ('small', 'medium', 'large');
$button-layouts: ('block', 'inline');
$button-alignments: ('label-left', 'label-center', 'label-right');

// Button Sizes
//-------------------------------------------------------------------

%button {
    &--small {
        .label {
            @include font($text, 'x-small', 'strong');
            padding: d(0.5) d(1);
        }
        .icon {
            @include icon-size('small');
        }
    }
    &--medium {
        .label {
            @include font($text, 'small', 'strong');
            padding: d(1) d(1.5);
        }
        .icon {
            @include icon-size('medium');
        }
    }
    &--large {
        .label {
            @include font($text, 'large', 'strong');
            padding: d(1.5) d(3);
        }
        .icon {
            @include icon-size('large');
        }
    }
}

// Button Alignment
//------------------------------------------------------------------

%button {
    &--label-left {
        text-align: left;
    }
    &--label-center {
        text-align: center;
    }
    &--label-right {
        text-align: right;
    }
}

// Button Layout
//------------------------------------------------------------------

%button {
    &--inline {
        align-self: flex-start;
        flex-shrink: 0;
        width: auto;
    }

    &--block {
        width: 100%;
        flex-grow: 1;
        flex-shrink: 0;
        align-self: stretch;
    }
}

// Button Styles
//-------------------------------------------------------------------

%button {
    &--primary {
        background: red;
    }
    &--secondary {
        background: blue;
    }
    &--tertiary {
        background: green;
    }
    &--link {
        color: blue;
    }
}
